.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TOP HALF OF DASHBOARD */
.top-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex: 1;
}

.legend-container, .map-container, .filters-container {
  border: 1px solid rgba(170, 59, 255, 0.1);
  border-radius: 3px;
  margin-top: 10px 0;
}

.legend-container {
  flex: 1;
  margin-left: 10px;
}

.map-container {
  flex: 2;
}

.filters-container {
  flex: 1;
  margin-right: 10px;
}

/* BOTTOM HALF OF DASHBOARD */
.bottom-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex: 1;
}

.graphic-container {
  border: 1px solid rgba(170, 59, 255, 0.1);
  border-radius: 3px;
  flex: 1;
  margin: 10px 0;
}

.type-gc {
  margin-left: 10px;
}

.bubble-gc {
  
}

.uncertainty-gc {
  margin-right: 10px;
}